html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-image 0.6s ease-in-out;

}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: white;
}
.search {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}
.button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  font-weight: bold;
  transition: 0.3s;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  padding: 25px;
  border-radius: 20px;
  color: white;
  margin-top: 20px;
  text-align: center;
}

.error {
  margin-top: 15px;
  color: #dfdada;
}

.forecastContainer {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

.forecastCard {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 15px;
  border-radius: 15px;
  color: white;
  text-align: center;
  min-width: 90px;
}